.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background:linear-gradient(#00ccff, #99ccff);
  height: 240px;
  padding: 20px; */
  /* bottom: 240px;  */
  
  /* color: white; */
}

.App-header-img{
  /* align-content: space-around; */
  /* bott om: 20px; */
 /* align-content: center */
}
.App-title {
  padding: 20px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-Image{
  align-content: center;
  border: 3px solid green;
  width: 75px;
  /* height: 55px; */
}

.Form-text{
  font-display: center;
}
.App-UserForms{
  align-self: center;
}

.App-UserName{
  font-size: 1.25em;
  font-weight: bold;
}

.App-UserInfo{
  font-size: 1em;
  /* font-size: 1em; */
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul li{
  color: burlywood;
  font-size: 15px;
}

ul > li{
  color: lightslategrey;
  font-size: 20px;
}
